.header-contact{
    text-align: center;
    align-items: center;
    white-space: nowrap;
    padding-bottom: 2rem;
    margin: 20px auto;
    background:url(images/contact.jpg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5rem;
    width: 1500px;
    height: 600px;
    border-radius: 2rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.contact-text{
    color: white;
    text-align: center;
    margin: 125px auto;
    font-family: 'Arial Black', sans-serif;
    font-size: 40px;
}
.contact-text2{
    color: white;
    text-align: center;
    font-size: 20px;
}
.contacts{
    margin: auto;
    width: 1500px;
    height: 125px;
}
.contact-mail{
    font-family: 'Roboto', Arial, sans-serif;
    margin-top: 25px;
    text-align: center;
}
.contact-tel{
    font-family: 'Roboto', Arial, sans-serif;
    margin-top: 35px;
    text-align: center;
}

footer{
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #111111;
    margin: 50px  auto;
}
.nav-footer{
  font-size: 0.95rem;
  font-family: 'Arial Black', sans-serif;
  list-style: none;
  display: inline-flex;
  align-items: center;
  gap: 3rem;
  margin: auto;
}
.links a{
  position: relative;
  padding-bottom: 0.25rem;
  color: white;
  text-transform: uppercase;
}
.links a::after{
  content:"";
  position: absolute;
  height: 0.1rem;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: all 0.3s ease;
}

.links a:hover::after{
  width:70%;
}
