*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body{
    background-color: white;
}
a{
    text-decoration: none;
}
nav{
    width: 1600px;
    text-align: center;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
  text-align: center;
  margin: 20px auto;
  font-size: 16px;
  list-style: none;
  display: inline-flex;
  align-items: center;
  gap: 50px;
}
.link a{
    position: relative;
    padding-bottom: 0.25rem;
    color: black;
    text-transform: uppercase;
}
.link a::after{
    content:"";
    position: absolute;
    height: 0.1rem;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: pink;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width:70%;
}

.b-nav{
  margin:10px auto;
  display: flex;

}

.text-header{
    font-size: 20px;
    font-family: 'Arial Black', sans-serif;
    text-align: center;
}
.btn{
  cursor:pointer;
  font-family: 'Arial Black', sans-serif;
  border:3px solid white;
  color: white;
  background-color: #e32526;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 3rem;
}
.btn:hover{
  color:black;
  background-color:#EEEFF1;
  border: 3px solid black;
  transition: all 0.3s ease;
}
.info-text{
    text-align: center;
    margin-top: 135px;
    font-family: 'Arial Black', sans-serif;
    font-size: 35px;
  }
.beatyh1{
    color: #EEEFF1;
    padding-top: 0.35rem;
    padding-bottom: 0.15rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
main{
    text-align: center;
    align-items: center;
    white-space: nowrap;
    padding-bottom: 2rem;
    margin: 0 auto;
    background:url(images/main.jpg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5rem;
    width: 1500px;
    height: 600px;
    border-radius: 2rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
  }
  * {
    box-sizing: border-box;
  }
  header {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards {
    grid-template-columns: repeat(3,  2fr);
    display: grid;
    width: 100%;
    max-width: 1000px; 
    justify-content: center;
    justify-items: center; 
    column-gap:103px;
    row-gap: 100px; ;
    margin: auto;
  }
  .card {
    cursor:pointer;
    position: relative;
    height: 200px;
    width: 225px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .cover-image {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
  
  .wrapper {
    transition: all 0.5s;
    width: 100%;
  }
  .title{
    margin: 20px;
  }
footer{
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #111111;
    margin: 50px  auto;
}
.nav-footer{
  font-size: 0.95rem;
  font-family: 'Arial Black', sans-serif;
  list-style: none;
  display: inline-flex;
  align-items: center;
  gap: 3rem;
  margin: auto;
}
.links a{
  position: relative;
  padding-bottom: 0.25rem;
  color: white;
  text-transform: uppercase;
}
.links a::after{
  content:"";
  position: absolute;
  height: 0.1rem;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: all 0.3s ease;
}

.links a:hover::after{
  width:70%;
}
